@using Model
@using Services

@inject IModalService ModalService
@inject GameService GameField
@inject ILanguageContainerService language

<div>
    <table class="gamestart">
        <tr>
            <td class="gamestart">@language.Keys["GameName"]</td>
            <td class="gamestart"><input @bind="GameField.JoinRequest.GameName" @bind:event="oninput" /></td>
        </tr>
        <tr>
            <td class="gamestart">@language.Keys["GamePlayerName"]</td>
            <td class="gamestart"><input @bind="GameField.JoinRequest.Name" @bind:event="oninput" /></td>
        </tr>
    </table>


    <button @onclick="Yes" class="btn btn-outline-danger">Next</button>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    public string Message { get; set; }

    async Task Yes()
    {
        BlazoredModal.Close();
    }


}
