################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DiceGame
/bin/Debug/netstandard2.1/wwwroot/_framework
/bin/Debug/netstandard2.1
/obj
/DiceGame.csproj.user
/bin/Release/netstandard2.1
/Properties/PublishProfiles/FolderProfile.pubxml.user
/Properties/PublishProfiles
