@page "/"
@inject IModalService Modal

@using Model
@using Services
@inject NavigationManager NavigationManager
@inject GameFieldModel GameField
@inject NotificationService notificationService

<h1>Start New Game</h1>

<button class="btn btn-primary" @onclick="BtnStart" autofocus style="grid-area: 1 / 9 / 1 / 11;" disabled="@GameField.AllowMove"><span class="oi oi-media-play"></span> Start</button>


<DiceGame.Pages.View.PlayerSettings></DiceGame.Pages.View.PlayerSettings>

<DiceGame.Pages.View.NotificationSettings></DiceGame.Pages.View.NotificationSettings>

@code {



    protected override async Task OnInitializedAsync()
    {


    }

    public void BtnStart()
    {
        NavigationManager.NavigateTo("/Game");
    }
}
