@inject IModalService ModalService

<div>
    <DiceGame.Pages.View.NotificationSettings></DiceGame.Pages.View.NotificationSettings>

    <button @onclick="Yes" class="btn btn-outline-danger">Ok</button>    
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    public string Message { get; set; }

    async Task Yes()
    {
        BlazoredModal.Close();
    }


}